server:
  port: 8083

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/stmodel_db
    username: postgres
    password: postgres123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true
      hibernate.jdbc.lob.non_contextual_creation: true



services:
  sensor:
    base-url: http://localhost:8081
  satellite:
    base-url: http://localhost:8082
